@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex; /*Bien*/
  flex-direction: column; /*Bien*/
  /*justify-content: space-between;*/ /*diferente*/
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /*padding: 5px;*/
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header{
  display: flex; /*Bien*/
  justify-content: space-between; /*Bien*/
  padding: 16px; /*Bien*/
}

.left-links, .right-links{
  display: flex; /*Bien*/
  list-style-type: none; /*Bien*/
  /*gap: 10px;*/
  gap: 16px;
  padding: 0; /*Bien*/
  margin: 0; /*Bien*/
}

a{
  text-decoration: none; /*Bien*/
  color: black; /*diferente*/
}

.content{
  display: flex; /*Bien*/
  flex-direction: column; /*Bien*/
  justify-content: center; /*Bien*/
  align-items: center; /*Bien*/
  flex: 1; /*faltó*/
  gap: 16px; /*faltó*/
}

.footer{
  display: flex; /*Bien*/
  justify-content: space-between; /*Bien*/
  padding: 16px; /*Bien*/
  background-color: #eee; /*Bien*/
}